body {
	margin: auto 0px;
	background-color: #FDEDED;
}

.header {
	width: 100%;
	height: 70px;
	background-color: #E8C0C8;
	margin: auto;
	vertical-align: middle;
	position: relative;
	background-image: url("/template/img/fon.jpg");
}

.site {
	display: inline-block;
	
}

.img_site {
	display: inline-block;
	position: absolute;
}

.img_site img {
	height: 70px;
	width: 110px;
}

html {
	font-size: 20px;
}

.name_site {
	font-size: 50px;
	font-family: Parkavenue, cursive;
	font-weight: 900;
	display: inline-block;
	margin-left: 300px;
	position: absolute;
}

.content {
	margin: auto;
	width: 100%;
	background-color: #F2D9DE;
	height: 500px;
}

#news {
	width: 800px;
	margin: auto;
	border: solid 1px;
	margin-bottom: 20px;
	padding: 10px;
}

.content a div {
	margin-bottom: 20px;
	background-color: #EFB8B9;
	padding: 10px;
}

.img_1,
.img_2,
.img_3 {
	display: inline-block;
}

img {
	height: 200px;
	width: 200px;
}

.update_info,
.all_product {
	background-color: #EFB8B9;
	padding: 20px;
}

.footer {
	margin: auto;
	width: 100%;
	height: 100px;
	background-color: #E8C0C8;
}

a {
	text-decoration: none;
	color: #111;
}

@media(min-width: 1200px){
	.content {
		width: 1000px;
	}
}

@media(max-width: 980px){
	
	.menu ul li.list_li {
		height: 30px;
		width: 150px;
		background-color: #999;
		padding-top: 10px;
	}

	.menu {
		margin: auto;
		width: 100%;
		height: 39px;
	}

}



.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
	margin-top: 25px;
	position: relative;
}

html[xmlns] .input-file-row-1{
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container { 
	position: relative; 
	width: 100px; 
	height: 137px; 
	overflow: hidden;	
	background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
	float: left;
	margin-left: 23px;
} 

.upload-file-container:first-child { 
	margin-left: 0;
} 

.upload-file-container > img {
	width: 93px;
	height: 93px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.upload-file-container-text{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #719d2b;
	line-height: 17px;
	text-align: center;
	display: block;
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100px; 
	height: 35px;
}

.upload-file-container-text > span{
	border-bottom: 1px solid #719d2b;
	cursor: pointer;
}

.upload-file-container input  { 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	font-size: 1px; 
	opacity: 0;
	filter: alpha(opacity=0);	
	margin: 0; 
	padding: 0; 
	border: none; 
	width: 70px; 
	height: 50px; 
	cursor: pointer;
}

