body {
	margin: auto 0px;
	background-color: #FDEDED;
}

.header {
	width: 100%;
	height: 70px;
	background-color: #E8C0C8;
	margin: auto;
	vertical-align: middle;
	position: relative;
	background-image: url("/template/img/fon.jpg");
}

.site {
	display: inline-block;
	
}

.img_site {
	display: inline-block;
	position: absolute;
}

.img_site img {
	height: 70px;
	width: 110px;
}

html {
	font-size: 20px;
}

.name_site {
	font-size: 50px;
	font-family: Parkavenue, cursive;
	font-weight: 900;
	display: inline-block;
	margin-left: 300px;
	position: absolute;
}

.menu {
	margin: auto;
	width: 100%;
	height: 40px;
}

.menu ul {
	margin: auto 0px;
	background-color:  #E8C0C8;
	padding: 0px;
	text-align: center;
}

.menu ul li.list_li {
	margin: 0px;
	list-style: none;
	display: inline-block;
	height: 30px;
	width: 150px;
	background-color: #EFB8B9;
	padding-top: 10px;
}

.menu ul li.list_li:hover {
	background-color:  #F89697;
}

.content {
	margin: auto;
	width: 100%;
	height: 1500px;
	background-color: #F2D9DE;
}

#order {
	background-color: ;
	width: 800px;
	margin: auto 100px;
	display: inline-block;
	margin-top: 30px;
	border: solid 1px;
	border-radius: 5px;
	width: 500px;
	padding: 15px;
	position: relative;
}

#order div {
	margin-bottom: 10px;
}

.panel_menu,
.info_order {
	background-color: #EFB8B9;
	padding: 20px;
}

.id, .product_name, .user_name, .user_tel, .price {
	position: absolute;
	display: inline-block;
}

.id {
	margin-left: 10px;
}

.product_name {
	margin-left: 10px;
	margin-top: 25px;
}

.user_name {
	margin-top: 50px;
	margin-left: 10px;
}

.user_tel {
	margin-top: 75px;
	margin-left: 10px;
}

.price {
	margin-top: 100px;
	margin-left: 10px;
}

.info_order {
	margin-top: 125px;
	margin-left: 10px;
}

.img img {
	width: 100px;
	height: 100px;
	background-color: #111;
	margin-left: 10px;
}

.footer {
	margin: auto;
	width: 100%;
	height: 100px;
	background-color: #E8C0C8;
}

a {
	text-decoration: none;
	color: #111;
}

#news {

}

@media(min-width: 1200px){
	.content {
		width: 1000px;
	}


}

@media(max-width: 980px){
	
	.menu ul li.list_li {
		height: 30px;
		width: 150px;
		background-color: #999;
		padding-top: 10px;
	}

	.menu {
		margin: auto;
		width: 100%;
		height: 39px;
	}

}